* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

body {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.content {
	text-align: center;
}
.content h1 {
	font-size: 2rem;
	line-height: 1;
	letter-spacing: 0.1rem;
	font-weight: 700;
}

.content > p {
	font-size: 1.2rem;
	letter-spacing: 0.1rem;
	line-height: 1;
	margin: 0.5rem 0;
}
.content > .btns > button {
	display: inline-block;
	border: 0;
	outline: none;
	padding: 1rem 0;
	width: 200px;
	background: #000;
	color: #fff;
	cursor: pointer;
	margin: 0.5rem;
	font-weight: 600;
	font-size: 1.1rem;
	border: 1px solid #000;
	transition: all 200ms ease;
}
.content > .btns > button:hover {
	background: none;
	color: #000;
	border: 1px solid #000;
}

.fileReader-content {
	max-width: 700px;
	margin: 2.5rem 0;
}
.fileReader-content p {
	font-size: 1rem;
	font-weight: 400;
	letter-spacing: 0.1rem;
	line-height: 1;
}
.fileReader-content .box {
	width: 100%;
	margin-top: 2.5rem;
	padding: 1rem;
	border-radius: 0.5rem;
	box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
		rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.fileReader-content .box > p {
	margin: 1rem 0;
}

.fileReader-content .box textarea {
	width: 100%;
	min-height: 200px;
	padding: 0.5rem;
	border-radius: 0.5rem;
	border: 1px solid #00000030;
}
.fileReader-content .box textarea:focus {
	outline: none;
	-moz-outline-style: none;
}

.fileReader-content .box > div {
	display: block;
	margin: 1rem 0;
	text-align: right;
}
.fileReader-content .box > div label {
	margin-right: 1rem;
}
.fileReader-content .box > div select {
	padding: 0.5rem;
	background: none;
	border: 1px solid #000000;
	border-radius: 0.5rem;
}

.fileReader-content .box .btns button {
	display: inline-block;
	padding: 1rem;
	width: 150px;
	cursor: pointer;
	background-color: #000;
	color: #fff;
	border: 1px solid #000;
	border-radius: 0.5rem;
}
.fileReader-content .box .btns button:disabled {
	background-color: #00000030;
	border: 1px solid #00000030;
	color: #00000060;
}
