* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

body {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
h1 {
	font-size: 4rem;
	line-height: 1.25;
	font-weight: 800;
}
input:active,
input:focus,
textarea:focus,
select:focus {
	outline: none !important;
}
button {
	min-width: 150px;
	display: inline-block;
	margin: 1rem;
	padding: 0.5rem 1rem;
	background-color: #000;
	color: #fff;
	border: 1px solid #000;
	font-size: 1rem;
	border-radius: 0.25rem;
	transition: all 200ms ease;
	cursor: pointer;
}
button:disabled,
button:disabled:hover {
	background-color: #00000050;
	color: #00000060;
	border: 1px solid #00000030;
	background-color: rgb(62, 62, 62, 0.5);
}
button:hover {
	background-color: #fff;
	color: #000;
	border: 1px solid #000;
}
.bodyCopy {
	font-size: 1rem;
	letter-spacing: 0.05rem;
}
.infos {
	margin-bottom: -1rem;
	margin-top: 1rem;
	text-align: left;
	padding: 0.25rem 0 0.25rem 0.5rem;
	background-color: rgb(62, 62, 62);
	border-top-left-radius: 0.5rem;
	border-top-right-radius: 0.5rem;
	color: #fff;
}
.handleTranslated {
	text-align: right;
	padding: 0 !important;
	margin-top: 1rem;
	margin-bottom: -1rem;
	background-color: rgb(62, 62, 62);
	border-top-left-radius: 0.5rem;
	border-top-right-radius: 0.5rem;
}
.handleTranslated button {
	padding: 0.25rem 0.5rem !important;
	width: auto !important;
	min-width: 0 !important;
	margin: 0.25rem;
	background: none;
	border: none;
	cursor: pointer;
	font-size: 0.75rem;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	color: #ffffff90;
}
.handleTranslated button span {
	margin-left: 0.2rem;
}
.subInfos {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 2rem;
}
.highlightText {
	font-size: 1rem;
	letter-spacing: 0.05rem;
	display: inline;
	margin-right: 1rem;
	font-size: 0.8rem;
}
.highlightText > span {
	font-weight: 600;
	margin-left: 0.5rem;
}
.header {
	margin: 2rem 0;
}
.content .wrapper {
	max-width: 700px;
	/* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 1px;
	border: 1px solid #00000030; */
	padding: 1rem;
	border-radius: 0.25rem;
	margin: 3rem auto;
}
label {
	font-size: 1rem;
	margin-right: 0.5rem;
}
select {
	padding: 0.5rem 1rem;
	border: 1px solid #00000030;
	color: #00000080;
}
textarea {
	width: 100%;
	font-size: 1rem;
	min-height: 200px;
	border-radius: 0.25rem;
	border: 1px solid #00000030;
	padding: 0.5rem;
	margin: 1rem 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.langueSelector {
	display: inline-block;
}

.btns {
	display: inline-block;
	padding: 0;
}
.sub-btns button {
	margin: 0;
}
